.sidebar {
  background-color: var(--white);
  padding: var(--spacing-md);
  border-radius: var(--radius);
  box-shadow: var(--shadow);
  border: 1px solid #e5e7eb;
}

.title {
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: var(--spacing-md);
  padding-bottom: var(--spacing-sm);
  border-bottom: 2px solid var(--secondary-color);
}

.list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.button {
  text-align: left;
  padding: 10px 15px;
  background: none;
  border: none;
  border-radius: var(--radius);
  cursor: pointer;
  font-size: 1rem;
  color: var(--text-dark);
  transition: var(--transition);
  width: 100%;
}

.button:hover {
  background-color: var(--secondary-color);
}

.active {
  background-color: #eff6ff; /* Svijetlo plava */
  color: var(--primary-color);
  font-weight: 600;
  border-left: 4px solid var(--primary-color);
}